AplikacjaDoTestowania/Web References/WS/WebSerciceMMD.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Login">
        <s:complexType />
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Account" type="tns:Account" />
      <s:complexType name="Account">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="AddUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usr" type="tns:Account" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Test1">
        <s:complexType />
      </s:element>
      <s:element name="Test1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Test1Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Test">
        <s:complexType />
      </s:element>
      <s:element name="TestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TestResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateEvent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Event" type="tns:Event" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Event">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Orgaznizer" type="tns:User" />
          <s:element minOccurs="1" maxOccurs="1" name="Icon" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StartDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="TimeInHours" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Adres" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsPublic" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nick" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateEventResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateEventResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="LoginAccount">
    <wsdl:part name="Account" element="tns:Account" />
  </wsdl:message>
  <wsdl:message name="AddUserSoapIn">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="AddUserSoapOut">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="Test1SoapIn">
    <wsdl:part name="parameters" element="tns:Test1" />
  </wsdl:message>
  <wsdl:message name="Test1SoapOut">
    <wsdl:part name="parameters" element="tns:Test1Response" />
  </wsdl:message>
  <wsdl:message name="TestSoapIn">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="TestSoapOut">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="TestAccount">
    <wsdl:part name="Account" element="tns:Account" />
  </wsdl:message>
  <wsdl:message name="CreateEventSoapIn">
    <wsdl:part name="parameters" element="tns:CreateEvent" />
  </wsdl:message>
  <wsdl:message name="CreateEventSoapOut">
    <wsdl:part name="parameters" element="tns:CreateEventResponse" />
  </wsdl:message>
  <wsdl:message name="CreateEventAccount">
    <wsdl:part name="Account" element="tns:Account" />
  </wsdl:message>
  <wsdl:portType name="WebSerciceMMDSoap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input message="tns:AddUserSoapIn" />
      <wsdl:output message="tns:AddUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Test1">
      <wsdl:input message="tns:Test1SoapIn" />
      <wsdl:output message="tns:Test1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:input message="tns:TestSoapIn" />
      <wsdl:output message="tns:TestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateEvent">
      <wsdl:input message="tns:CreateEventSoapIn" />
      <wsdl:output message="tns:CreateEventSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebSerciceMMDSoap" type="tns:WebSerciceMMDSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:LoginAccount" part="Account" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test1">
      <soap:operation soapAction="http://tempuri.org/Test1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://tempuri.org/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:TestAccount" part="Account" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateEvent">
      <soap:operation soapAction="http://tempuri.org/CreateEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:CreateEventAccount" part="Account" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebSerciceMMDSoap12" type="tns:WebSerciceMMDSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:LoginAccount" part="Account" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap12:operation soapAction="http://tempuri.org/AddUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test1">
      <soap12:operation soapAction="http://tempuri.org/Test1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap12:operation soapAction="http://tempuri.org/Test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:TestAccount" part="Account" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateEvent">
      <soap12:operation soapAction="http://tempuri.org/CreateEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:CreateEventAccount" part="Account" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebSerciceMMD">
    <wsdl:port name="WebSerciceMMDSoap" binding="tns:WebSerciceMMDSoap">
      <soap:address location="http://localhost:57574/WebSerciceMMD.asmx" />
    </wsdl:port>
    <wsdl:port name="WebSerciceMMDSoap12" binding="tns:WebSerciceMMDSoap12">
      <soap12:address location="http://localhost:57574/WebSerciceMMD.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>