WS/JSDTestClient/Web References/localhost/EventService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://dosomething.pl/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://dosomething.pl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://dosomething.pl/">
      <s:element name="CreateEvent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Event" type="tns:Event" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Event">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Orgaznizer" type="tns:User" />
          <s:element minOccurs="1" maxOccurs="1" name="Icon" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StartDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="TimeInHours" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Adres" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsPublic" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateEventResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateEventResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="User" type="tns:User" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateEventSoapIn">
    <wsdl:part name="parameters" element="tns:CreateEvent" />
  </wsdl:message>
  <wsdl:message name="CreateEventSoapOut">
    <wsdl:part name="parameters" element="tns:CreateEventResponse" />
  </wsdl:message>
  <wsdl:message name="CreateEventUser">
    <wsdl:part name="User" element="tns:User" />
  </wsdl:message>
  <wsdl:portType name="EventServiceSoap">
    <wsdl:operation name="CreateEvent">
      <wsdl:input message="tns:CreateEventSoapIn" />
      <wsdl:output message="tns:CreateEventSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EventServiceSoap" type="tns:EventServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateEvent">
      <soap:operation soapAction="http://dosomething.pl/CreateEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:CreateEventUser" part="User" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EventServiceSoap12" type="tns:EventServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateEvent">
      <soap12:operation soapAction="http://dosomething.pl/CreateEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:CreateEventUser" part="User" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EventService">
    <wsdl:port name="EventServiceSoap" binding="tns:EventServiceSoap">
      <soap:address location="http://localhost:61922/EventService.asmx" />
    </wsdl:port>
    <wsdl:port name="EventServiceSoap12" binding="tns:EventServiceSoap12">
      <soap12:address location="http://localhost:61922/EventService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>